body{
    background-color: white;
}
.Title{
    text-align: center;
    color: gold;
    font-family: fantasy,sans-serif,monospace;
    width: 100%;
}
.Ti{
    text-shadow: 10cm;
    color: firebrick;
    font-size: 100px;
    text-align: center;
}
/* width */
::-webkit-scrollbar {
    width: 2em;
  }
.github{
    height: 10%;
    width: 10%;
    background-color: transparent;
}
.image{
    margin-right: 45%;
    margin-left: 45%;
    width: 1%;
    height: 1%;
}
.album{
    margin-left: 27%;
    margin-right: 35%;
    width: 1200px;
    height: 1200px;
}
.Ti2{
    text-shadow: 10cm;
    color: black;
    font-size: 75px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,sans-serif;
}
.artist{
    text-align: center;
    color: gray;
    font-family: italic;
    font-size: 25px;
}
.des{
    text-align: center;
    color: gray;
    font-family: italic;
    font-size: 20px;
}